<!DOCTYPE html>
<html dir="ltr" lang="ru-RU" prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="theme-color" content="#000">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="msapplication-TileImage" content="/images/ms-tile-144x144.png">
    <meta name="msapplication-config" content="none">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-24x24.png" sizes="24x24">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-48x48.png" sizes="48x48">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Описание страницы">
    <meta name="keywords" content="Ключи страницы">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic" media="print" onload="this.media='all'" />
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="header-logo">
                <img class="header-logo-img" src="/assets/images/logo.png" alt="Логотип">
                <div class="header-logo-name">Playerro</div>
            </div>
        </header>
        <section class="page-container">
            <aside class="sidebar">
                <div class="info">
                    <div class="info-name">Владимир Иванов</div>
                    <div class="info-profession">Web-Разработчик</div>
                    <div class="info-contact"><span class="info-contact-tg">Telegram:</span> <a class="link info-contact-link" href="https://t.me/playerro" rel="nofollow" target="_blank">@Playerro</a></div>
                </div>
                <div class="stack"><span class="stack-name">#</span> <span class="stack-name">PHP</span> <span class="stack-name">Symfony</span> <span class="stack-name">Laravel</span> <span class="stack-name">Angular 2+</span> <span class="stack-name">MySQL</span> <span class="stack-name">PostgreSQL</span> <span class="stack-name">HTML</span> <span class="stack-name">CSS</span> <span class="stack-name">Javascript</span> <span class="stack-name">TypeScript</span> <span class="stack-name">Git</span> <span class="stack-name">Docker</span></div>
                <ul class="contact">
                    <li class="contact-item">
                        <img class="contact-item-icon" src="/assets/images/arrow.svg" alt="иконка ссылки">
                        <a href="https://habr.com" class="link contact-item-link">Хабр Фриланс</a>
                    </li>
                    <li class="contact-item contact-item-icon-none">
                        <a href="https://habr.com" class="link contact-item-link">Отзывы</a>
                    </li>
                </ul>
                <div class="about">
                    <p>Я <strong>Web-разработчик</strong> с опытом более 6 лет</p>
                    <p><strong>Backend</strong> - владею PHP на высоком уровне и знаю фреймворки Symfony, Laravel и Yii. Был опыт работы с самописными проектами и проектами на Zend. Большой опыт работы с базами данных MySQL и PostreSQL.</p>
                    <p><strong>Fullstack разработка</strong> - знаю HTML, CSS, Javascript. Работал с TypeSript и фреймворком Angular 2+.</p>
                    <p><strong>Telegram Боты</strong> - создавал ботов с Web App для таких компаний, как Сбермаркет, Сибур, Лэтуаль и других.</p>
                    <p>Большой опыт в работе со сторонними API. Хорошо знаю Git, придерживаюсь SOLID, с удовольствием воспринимаю новую информацию и технологии, коммуникабелен.</p>
                    <p>Есть опыт ведения долгострочных проектов как Team Lead и Tech Lead.</p>
                </div>
            </aside>
            <div></div>
            <main class="main">
                <h1 class="headline">Разработанные мной проекты</h1>
                <article class="article">
                    <picture class="article-picture">
                        <img class="article-picture-img" src="/assets/images/poster-1.png" alt="">
                    </picture>
                    <div class="article-info">
                        <h3 class="article-title">Создание ресурса для клиента</h3>
                        <div class="article-description">Первым широко известным и успешным языком программирования высокого уровня был Фортран, разработанный с 1954 по 1957 год, командой исследователей IBM во главе с Джоном Бакусом.</div>
                    </div>
                </article>
                <article class="article">
                    <picture class="article-picture">
                        <img class="article-picture-img" src="/assets/images/poster-2.png" alt="">
                    </picture>
                    <div class="article-info">
                        <h3 class="article-title">Создание ресурса для клиента</h3>
                        <div class="article-description">Первым широко известным и успешным языком программирования высокого уровня был Фортран, разработанный с 1954 по 1957 год, командой исследователей IBM во главе с Джоном Бакусом.</div>
                    </div>
                </article>
                <article class="article">
                    <picture class="article-picture">
                        <img class="article-picture-img" src="/assets/images/poster-3.png" alt="">
                    </picture>
                    <div class="article-info">
                        <h3 class="article-title">Создание ресурса для клиента</h3>
                        <div class="article-description">Первым широко известным и успешным языком программирования высокого уровня был Фортран, разработанный с 1954 по 1957 год, командой исследователей IBM во главе с Джоном Бакусом.</div>
                    </div>
                </article>
            </main>
        </section>
        <footer class="footer">
            <div class="footer-divider"></div>
            <div class="footer-content">Playerro 2025</div>
        </footer>
    </div>
</body>
</html>