:root {
  --primary-color: #000;

  --font-color: #424242;
  --font-family: "Roboto", sans-serif;
  --font-size: 1em;
  --font: 1em "Roboto", sans-serif;

  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #141414;

    --font-color: #fff;

    --bg-color: #141414;
  }
}