:root {
  --bg-color: #fff;
  --primary-color: #000;

  --link-color: var(--primary-color);
  --link-decoration-color: #B25EEC;
  --link-decoration-height: 1px;

  --font-family: "Roboto", sans-serif;
  --font-size: 1em;
  --font: 1em "Roboto", sans-serif;

  --footer-divider-bg: #d6d6d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #141414;
    --primary-color: #e6e6e6; // rgb(230, 230, 230)

    --link-color: var(--primary-color);

    --footer-divider-bg: #292929;
  }
}